/* CSS de la aplicacion */
@charset  'utf-8';
body{
	font-family: 'Open Sans', sans-serif;
}


/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

#busqueda {
  margin-top: 20px;
}