/* CSS de la aplicacion */
@charset  'utf-8';
body{
	font-family: 'Open Sans', sans-serif;
}


/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

#barra_busqueda {
  margin-top: 1%;
}

#tabla-usuarios{
  overflow: scroll;
  max-height: 500px;
}

td a{
    display: block;
}